@import 'src/app';

.divider {
    width: 100vw;
    margin: 50px 0;
}

.dividerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 20px;
}

ul, p {
    margin: 0;
}

.dividerText p, .dividerText li {
    color: $primary;
}

.cornerBorder {
    margin: 0;
    border: $primary 1px solid;
    width: 20vw;
    position: relative;
}

.botRight {
    right: -80vw;
}